@import '../../../variables.scss';

.button {
	border: none;
	padding: 12px 40px;
	background: $main-color;
	color: #fff;
	letter-spacing: 5px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;

	&::before {
		content: '';
		position: absolute;
		width: 24px;
		height: 24px;
		top: -5px;
		left: -5px;
		border-top: 2px solid $main-color;
		border-left: 2px solid $main-color;
		transition: all 0.3s;
	}

	&:hover {
		background: darken(#3a3a3a, 10%);
	}

	&:hover::before,
	&:hover::after {
		height: 100%;
		width: 100%;
	}

	&::after {
		content: '';
		position: absolute;
		width: 24px;
		height: 24px;
		bottom: -5px;
		right: -5px;
		border-bottom: 2px solid $main-color;
		border-right: 2px solid $main-color;
		transition: all 0.3s;
	}
}
