@import '../../../variables.scss';

.aboutUs {
	margin-top: 50px;
	width: 90%;
	margin: 0 auto;

	&__title {
		border-top: 2px solid $main-color;
		border-bottom: 2px solid $main-color;
		padding: 5px 0;
		margin: 25px 0;
	}

	&__image {
		margin: 25px auto;
		width: fit-content;
	}

	&__description {
		text-align: justify;
		padding: 15px 10px;
		font-size: 1.2rem;
	}

	@media (min-width: $XL) {
		margin-top: 0;

		& div:first-of-type {
			margin-top: 0;
		}
	}
}
