@import '../../../variables.scss';
@import '../../../mixins.scss';

.input {
	padding: 5px 10px;
	border: none;
	font-size: 1.2rem;
	color: $main-color;
	transition: all 0.3s;
	@include boxShadow;
	resize: none;
	margin: 20px 0;
	width: 100%;

	&:focus {
		outline: none;
		box-shadow: 2px 5px 8px 0px rgb(70, 70, 70);
	}
}
