@import '../../../mixins.scss';
@import '../../../variables.scss';

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	max-width: 350px;
	height: 350px;
	position: relative;
	margin: 0 10px 20px 10px;
	transition: all 0.3s;
	@include boxShadow;

	&__img {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
		transition: all 0.3s;
	}

	& > p {
		margin: 20px;
		font-size: 1.4rem;
	}

	&:hover {
		cursor: pointer;
		box-shadow: 8px 8px 5px 0px rgba(176, 176, 176, 1);
	}

	&:hover &__img {
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	& {
		@media (min-width: $XL) {
			margin: 0 10px 20px 10px;
		}
	}
}
