// COLORS

$main-color: #3a3a3a;
$secondary-color: #cecece;
$box-shadow-down: 0px 3px 5px 0px rgba(57, 57, 57, 0.75);
$box-shadow-left: -3px 0px 3px 0px rgba(57, 57, 57, 0.75);

// BREAK POINTS

$MD: 768px;

// MARGINS
$page-margin: 40px 0;
$title-margin: 40px auto;
